* {
  box-sizing: border-box;
}

body {
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}

h1 {
  text-align: center;
}

.hidden {
  display: none;
}

#js-bookmark-list-form {
  display: flex;
  flex-direction: column;
}

button, input[type="text"], .filter, .cancel {
  padding: 5px;
  height: 30px;
  font-size: 24px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  transition: all .5s ease;
}

button:active, .cancel:active {
  background-color: #444;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

button:hover, .filter:hover, .cancel:hover, a:hover {
  cursor: pointer;
  color:goldenrod;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.bookmark-list {
  list-style: none;
  padding-left: 0;
}

.bookmark-list > li {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.bookmark-item {
  color: black;
  font-style: italic;
  font-size: 20px;
}

.error-container {
  color: red;
  font-weight: bold;
}

.error-container * {
  display: inline-block;
}

#cancel-error {
  margin-right: 0.5rem;
}

.collapsible {
  background-color: #eee;
  color: #444;
  height: 50px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.collapsible:hover {
  background-color: #ccc;
}

.content {
  padding: 0 18px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #f1f1f1;
}

.star {
  color: goldenrod;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  body {
    font-size: smaller;
  }
  button, input[type="text"], .filter, .cancel, .content {
    font-size: 15px;
    width: 250px;
  }
  .bookmark-item-delete {
    width: 200px;
  }
}

@media only screen and (min-width : 768px) and (max-width : 1024px) {
  body {
    font-size: 24px;
  }
  button, input[type="text"], .filter, .cancel {
    font-size: 24px;
    height: 40px;
    width: 700px;
  }
  .bookmark-item-delete {
    width: 300px;
  }
  .star {
    font-size: x-large;
  }
  .bookmark-item {
    font-size: 28px;
  }
  .collapsible {
    height: 60px;
  }
}

@media only screen and (min-width : 1025px) {
  body {
    font-size: 32px;
  }
  button, input[type="text"], .filter, .cancel {
    font-size: 32px;
    height: 60px;
    width: 1000px;
  }
  .bookmark-item-delete {
    width: 300px;
  }
  .star {
    font-size: xx-large;
  }
  .bookmark-item {
    font-size: 36px;
  }
  .collapsible {
    height: 80px;
  }

}